body{
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color:aqua;
}

.container{
    max-width: 600px;
    margin: 50px auto;
    padding: 20px;
    background-color: beige;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

h2{
    text-align: center;
}

input[type="texte"],
input[type="email"],
input[type="date"],
button{
    display: block;
    width: 100%;
    margin-bottom: 10px;
    padding: 10px;
    font-size: 16px;
}

button{
    background-color: aliceblue;
    color:blue;
    border:none;
    cursor: pointer;
}

button:hover{
    background-color: brown;
}

#listaUsuario{
    margin-top: 20px;
}

.usuario{
    border-bottom: 1px solid #ccc;
    padding: 10px 0;
}

.usuario p{
    margin: 0;
}